<% if user == true %>
  <span class="bg-[#dd5600] text-[10.5px] text-[#fff] rounded-[2px] px-1 py-[3px] font-bold" data-user="true">Not available</span>
<% else %>
  <span class="bg-[#73a839] text-[10.5px] text-[#fff] rounded-[2px] px-1 font-bold" data-user="false">Available</span>
<% end %>