<div class="container bg-[#F5F5F5] mx-auto mb-8 p-1 text-[#39A9E8] pl-4"><span>Home</span><span class="mx-2 text-[#aba7a7]">/</span><span>Add New Parent</span></div>
<div class=" container mx-auto rounded-lg border-2">
  <div class="accordian-header px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-semibold">Manage Parent</span></div>
    <div class="cursor-pointer text-3xl"> <i class="bx bx-chevron-down"></i></div>
  </div>
  <div class="accordian-body">
    <div class="bg-[#FFFFFF]">
      <table id="myTable" class="border-collapse cell-border stripe " data-source="<%= admin_parent_users_path(format: :json) %>">
        <thead class="bg-[#FFFFFF]">
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile_number</th>
            <th>Address</th>
            <th>profession</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody class="bg-[#F9F9F9] ">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#myTable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#myTable').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        { "data": "name" },
        { "data": "username" },
        { "data": "email" },
        { "data": "mobile_number" },
        { "data": "address" },
        { "data": "profession" },
        { "data": "gender" },
      ]
    });
  });
</script>
