<h2>Existing Admin Users</h2>
<table id="myTable" class="display" data-source="<%= admin_parent_users_path(format: :json) %>">
  <thead>
    <tr>
      <th>Email</th>
      <th>mobile_number</th>
      <th>name</th>
      <th>profession</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<hr>
<script>
  $(document).ready(function() {
    jQuery('#myTable').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#myTable').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        { "data": "email" },
        { "data": "mobile_number" },
        { "data": "name" },
        { "data": "profession" }
      ]
    });
  });
</script>
