<h2>Existing Admin Users</h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>mobile_number</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @parents.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.mobile_number %></td>
        <td><%= link_to 'EDIT', edit_admin_parent_user_path(user) %></td>
        <td><%= link_to 'DELETE', admin_parent_user_path(user), data: {turbo_method: :delete} %></td>
      </td>
    </tr>
  <% end %>
</tbody>
