<div class="py-40 h-screen">
  <h1 class="text-center font-semibold text-slate-900 text-3xl mb-10">New Parent User</h1>
  <div class="max-w-2xl mx-auto px-6">
    <div class="bg-white rounded-xl border-2">
      <div class="accordian-header flex items-center justify-between">
        <span class="font-semibold text-lg">what is web</span>
        <i class="bx bx-chevron-down text-3xl"></i>
      </div>
      <div class="accordian-body">
        <div class="p-4 border-t">
          <p> fbdfdbsfd dhfdfhfa fdshfdsfdaf dfdbfdusbfafad dfdufbdsf fdfdfad dfdb</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.accordian-header').click(function() {
      $(this).toggleClass('active');
      const accordianBody = $(this).next();
      if ($(this).hasClass('active')) {
        accordianBody.css('maxHeight', accordianBody.prop('scrollHeight') + 'px');
      } else {
        accordianBody.css('maxHeight', 0);
      }
    });
  });
</script>
