<div class="container bg-[#F5F5F5] mx-auto mb-8 p-1 text-[#39A9E8] pl-4"><span>Home</span><span class="mx-2 text-[#aba7a7]">/</span><span>Add New Parent</span></div>
<div class=" container mx-auto rounded-lg border-2">
  <div class="accordian-header px-5 bg-[#EDEDED] flex items-center justify-between text-[#317EAC] shadow-2xl">
    <div><i class="fa-solid fa-pen-to-square"></i>
      <span class="font-semibold">Add Parent</span></div>
    <div class="cursor-pointer text-3xl"> <i class="bx bx-chevron-down"></i></div>
  </div>
  <div class="accordian-body">
    <form>
      <div class="p-4 border-t bg-white flex flex-wrap">
        <div class="container text-red-700 mx-auto my-2 conatiner text-center text-[14px]  rounded bg-[#F2DEDE] p-2">
          <p>ndfjdfjagjfgoafog fgjhfghfdg</p>
        </div>
        <!-- form starts -->
        <div class="w-full md:w-[80%] md:pl-4">
          <div class="flex md:gap-x-6 md:gap-y-3 flex-wrap">
            <div class="w-full  md:w-[47%]">
              <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Name</label>
              <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required>
            </div>
            <div class="w-full  md:w-[32%]">
              <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">UserName</label>
              <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required>
            </div>
            <div class="flex w-full md:w-[47%] gap-6 flex-wrap">
              <div class="w-full  md:w-[47%]">
                <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Email</label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required>
              </div>
              <div class="w-full  md:w-[48%]">
                <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Mobile</label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Mobilenumber" required>
              </div>
            </div>
            <div class="w-full  md:w-[47%]">
              <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Address</label>
              <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address" required>
            </div>
            <div class="flex w-full md:w-[47%] gap-6 flex-wrap">
              <div class="w-full  md:w-[47%]">
                <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Profession</label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Profession" required>
              </div>
              <div class="w-full  md:w-[48%]">
                <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Password</label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
              </div>
            </div>
            <div class="w-full  md:w-[47%]">
              <label for="first_name" class="block mb-2 text-sm font-semibold text-[#393E46] dark:text-white">Gender</label>
              <div class="flex">
                <div class="flex items-center mr-4">
                  <input id="inline-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="inline-radio" class="ml-2 text-sm font-semibold text-gray-900 dark:text-gray-300">Male</label>
                </div>
                <div class="flex items-center mr-4">
                  <input id="inline-2-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="inline-2-radio" class="ml-2 text-sm font-semibold text-gray-900 dark:text-gray-300">Female</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="w-full md:w-[15%]">
            <div class="w-[130px] h-[130px]"><img src="<%= asset_path('user.png') %>" alt="Image Description"  ></div>
            <button type="submit" class="text-[#393E46] bg-white hover:bg-blue-800 focus:ring-4 outline-2 border-2 font-semibold rounded-lg text-sm  w-full sm:w-auto md:px-10 py-2.5 text-center">Submit</button>
          </div>
        </div>
      </div>
      <button type="submit" class="text-white bg-[#39A9E8] ml-4 lg:ml-8 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm  w-auto sm:w-auto px-10 py-2.5 text-center   dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
  </div>
</div>
