<div class="striped-background hidden text-center text-black px-4 py-2 z-[51] text-[13px] border border-[#345026] fixed left-[21%] md:left-[35%] lg:left-[41%] 2xl:left-[45%] right-[50%] top-[20px] rounded w-max " id="paymentMessage">
  Academic Fee updated successfully
</div>
