<%= payments.discount %>
<%= payments.actual_fee %>
<table class="table table-striped w-full border-collapse border border-[#dddddd] ">
  <thead class="text-[14px] text-[#555555] font-semibold text-left bg-[#fff] border-[#dddddd] border-b-2 ">
    <tr>
      <th class="border border-[#dddddd] p-2">Date</th>
      <th class="border border-[#dddddd] p-2">Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr class='striped text-[14px] text-[#555555] font-semibold text-center'>
      <td class="border border-[#dddddd] p-2 ">Total</td>
      <td class="border border-[#dddddd] p-2 ">0</td>
    </tr>
  </tbody>
</table>
