<table class="table table-striped w-full border-collapse border border-[#dddddd] ">
  <thead class="text-[14px] text-[#555555] font-semibold text-left bg-[#fff] border-[#dddddd] border-b-2 ">
    <tr>
      <th class="border border-[#dddddd] p-2">Date</th>
      <th class="border border-[#dddddd] p-2">Paid</th>
    </tr>
  </thead>
  <tbody>
    <% total_amount = 0 %>
    <% @payments&.each do |academic_fee| %>
      <% academic_fee.payments&.each do |payment| %>
        <% total_amount += payment.paid_amount.to_i if payment.paid_amount.present? %>
        <tr class='striped text-[14px] text-[#555555]'>
          <td class="border border-[#dddddd] p-2 "> <%= payment.paid_at%></td>
          <td class="border border-[#dddddd] p-2 "><%= payment.paid_amount %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr class='striped text-[14px] text-[#555555] font-semibold text-center'>
      <td class="border border-[#dddddd] p-2">Total</td>
      <td class="border border-[#dddddd] p-2"><%= total_amount %></td>
    </tr>
  </tfoot>
</table>
