<div class="striped-background hidden text-center text-black px-4 py-2  text-[13px] border border-[#345026] fixed left-[50%] right-[50%] top-[100px] rounded w-max " id="paymentMessage">
  payment made successfully
</div>
