<div class="striped-background hidden text-center text-black px-4 py-2 z-[51] text-[13px] border border-[#345026] fixed left-[850px] top-[20px] rounded w-max " id="paymentMessage">
  payment made successfully
</div>
