<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing academic fee</h1>

  <%= render "form", academic_fee: @academic_fee %>

  <%= link_to "Show this academic fee", @academic_fee, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to academic fees", academic_fees_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
