<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing parent attendance view</h1>

  <%= render "form", parent_parent_attendance_view: @parent_parent_attendance_view %>

  <%= link_to "Show this parent attendance view", @parent_parent_attendance_view, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to parent attendance views", parent_parent_attendance_views_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
