<div class="">
<h1>This is PDF</h1>
  <div class="pt-40">
    <div class="" style="width: 100%; display: flex; flex-direction: row;">
      <div class="" style="width: 70%; display: flex; flex-direction: column;">
        <!-- Use image_tag to embed the image in the PDF -->
        <%= image_tag wicked_pdf_asset_base64('homescreenlogo.png'), alt: 'logo', style: 'width: 230px; height: 70px;' %>
      </div>
      <div class="col-sm-7 padding-0" style="width: 30%; display: flex; justify-content: end;">
        <table class="table" cellspacing="0" cellpadding="10" border="1">
          <thead>
            <tr>
              <th>Payment id</th>
              <th>paid at</th>
              <th>paid amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p><%= @payment.id %></p>
              </td>
              <td>
                <p><%= @payment.paid_at.strftime("%B %d, %Y") %></p>
              </td>
              <td>
                <p><%= @payment.paid_amount %></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
