/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require datatables
 *= require_self
 */

div#dropdownNavbar {
  top: 15px !important;
}

html,
body {
  min-height: 100vh;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.activenav {
  margin-left: 8px;
  margin-right: 2px;
  padding-left: 6px;
  background-color: rgb(47, 164, 231);
  color: white;
}

.activenav:hover {
  margin-left: 8px;
  margin-right: 2px;
  padding-left: 6px;
  background-color: rgb(47, 164, 231);
  color: white;
}

select#student_standard_id,
select#student_section_id,
select#student_user_id {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

  select#student_standard_id,
  select#student_section_id,
  select#student_user_id {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

select#student_standard_id,
select#student_section_id,
select#student_user_id {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

  select#student_standard_id,
  select#student_section_id,
  select#student_user_id {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

#SelExample {
  width: 200px;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #100e0e;
}

.select2-container--default .select2-results__option:hover {
  background-color: #1322C1;
  /* Adjust the color as needed */
  color: #fff;
}

.select2-results__options {
  max-height: 200px;
  /* Adjust the max height as needed */
  overflow-x: auto;
}

