@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .accordian-header {
     @apply  cursor-pointer    
  }
  .accordian-header.active i{
    @apply transition ease-in-out duration-300;
    transform: rotateX(180deg);
    transition-duration: 0.5s;
  }
  .accordian-body {
    @apply  overflow-hidden transition-all duration-200 ease-out
  }
}
.focus\:ring-blue-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 165 250/var(--tw-ring-opacity));
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

