/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require datatables
 *= require_self
 */

div#dropdownNavbar {
  top: 15px !important;
}

html,
body {
  min-height: 100vh;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.activenav {
  margin-left: 8px;
  margin-right: 2px;
  padding-left: 6px;
  background-color: rgb(47, 164, 231);
  color: white;
}

.activenav:hover {
  margin-left: 8px;
  margin-right: 2px;
  padding-left: 6px;
  background-color: rgb(47, 164, 231);
  color: white;
}

select#student_standard_id,
select#student_section_id,
select#student_user_id {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

  select#student_standard_id,
  select#student_section_id,
  select#student_user_id {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

select#student_standard_id,
select#student_section_id,
select#student_user_id {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

  select#student_standard_id,
  select#student_section_id,
  select#student_user_id {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

#SelExample {
  width: 200px;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #100e0e;
}

.select2-container--default .select2-results__option:hover {
  background-color: #1322C1;
  /* Adjust the color as needed */
  color: #fff;
}

.select2-results__options {
  max-height: 200px;
  /* Adjust the max height as needed */
  overflow-x: auto;
}

#updown .active i {
  transform: rotate(180deg);
}

.activedropdown {
  background-color: #157AB5;
}

.active-admin {
  background-color: #EBEBEB;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


input:-internal-autofill-selected {
  background-color: #ffffff !important;
  color: #555555 !important;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
  color: #555555 !important;
}

.striped-background {
  background: rgb(142, 235, 142) repeating-linear-gradient(-45deg,
      #8be78b,
      #8be78b 10px,
      #ccffcc 10px,
      #ccffcc 20px);
      /* transition: 3000ms;
      transition-duration: 3s;
      transition-timing-function: linear;
      transition-delay: 3s;
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0); */

}

.blurbutton {
  background-color: #73a839;
  border-color: #73a839;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}