@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  [type=radio] {
    /* Add your default radio button styles here */
    /* For example: */
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }

  .accordian-header {
     @apply  cursor-pointer    
  }
  .accordian-header.active i{
    @apply transition ease-in-out duration-300;
    transform: rotateX(180deg);
    transition-duration: 0.5s;
  }
  .accordian-body {
    @apply  overflow-hidden transition-all duration-200 ease-out
  }
}
.focus\:ring-blue-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(96 165 250/var(--tw-ring-opacity));
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

[type=radio]:focus {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
  outline: 2px solid #0000;
  outline-offset: 2px;
}
