@import 'datatables/jquery.dataTables';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.dataTables';
//@import 'datatables/extensions/Buttons/buttons.dataTables';
//@import 'datatables/extensions/ColReorder/colReorder.dataTables';
//@import 'datatables/extensions/FixedColumns/fixedColumns.dataTables';
//@import 'datatables/extensions/FixedHeader/fixedHeader.dataTables';
//@import 'datatables/extensions/KeyTable/keyTable.dataTables';
//@import 'datatables/extensions/Responsive/responsive.dataTables';
//@import 'datatables/extensions/RowGroup/rowGroup.dataTables';
//@import 'datatables/extensions/RowReorder/rowReorder.dataTables';
//@import 'datatables/extensions/Scroller/scroller.dataTables';
//@import 'datatables/extensions/Select/select.dataTables';

#myTable {
  margin-top: 20px;
  border-collapse: collapse;
  color: #555555;
  padding: 10px;
 min-height:fit-content;


}

table#myTable {
  width: 1510px !important;
}

#myTable th, #myTable td {
 
  border: 1px solid #ddd;

}

#myTable th {
  background-color: #f2f2f2;
  color: #555555;
  font-size: 14px;
  background-color: #ffffff;
  text-align: start;
}



.dataTables_paginate {
  margin: 50px;
}
@media screen and (min-width: 426px){
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent; 
    font-size: small;
    height: 25px;
    width: 55px;
 
    margin-top: 10px;
  
  /* font-size: 14px; */
  }
  }
@media screen and (max-width: 425px){
div#myTable_length {
    float: left;
}
}

@media screen and (max-width: 425px){
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
 
    font-size: small;
    height: 25px;
    width: 55px;
 
    margin-top: 10px;
  
  /* font-size: 14px; */
  }
  }

/* Style the dropdown menu */
.dataTables_length select {
  color: black; /* Change the color to black */
}
.parent_username a{
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #DD5600;
 
}
#active{
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #DD5600;
 
}
@media screen and (min-width: 625px){

div#myTable_filter {
  display: flex !important;
  justify-content: space-evenly !important;
  width: 84% !important;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  height: 21px;
  margin-top: 14px;
  margin-bottom:8px ;
  width: 145px;
}
}
.dataTables_wrapper .dataTables_paginate {

  text-align: justify;
  margin-top: 1em;
  width: 64% !important;
  // border: 1px solid #994141;
}
div#myTable_info {
  margin-left: 32px;
  
}

.parent_name {
  text-wrap: wrap;
  max-width: 132px;
}
.parent_username {
  text-wrap: wrap;
  max-width: 100px;
}
.parent_email {
  text-wrap: wrap;
  max-width: 260px;
}
.parent_mobile{
  text-wrap: wrap;
  max-width: 100px;
}
.parent_address {
  text-wrap: wrap;
  max-width: 350px;
}
.parent_profession {
  text-wrap: wrap;
  max-width: 180px;
 
}
.parent_gender {
  text-wrap: wrap;
  max-width: 68px;
}
.parent_status {
  text-wrap: wrap;
  max-width: 170px;
}
.parent_action {
  display: flex;
  flex-wrap: wrap;
  max-width: 110px;
  // padding-inline: 2px;
}
.parent_action .parent_user_action{
  margin: 2px;
}
.parent_action .parent_user_edit{
  margin: 2px;
}
.parent_action .parent_user_delete{
  margin: 2px;
}
.parent_user_deactive{
  background-color: #F66305;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}
  .parent_user_active{
  background-color: #7BB13F;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin:2px;
}
 .parent_user_edit{
  background-color: #03417C;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
 .parent_user_delete{
  background-color: #BD1A20;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}