#myTable,
#staffTable {
  border-collapse: collapse;
  color: #555555;
  padding: 10px;
  min-height: fit-content;
}

#myTable th,
#myTable td,
#staffTable th,
#staffTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

#myTable th,
#staffTable th {
  background-color: #f2f2f2;
  color: #555555;
  font-size: 14px;
  background-color: #ffffff;
}

#myTable td,
#staffTable td {
  color: #555555;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
}

@media screen and (min-width: 426px) {
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {

  div#myTable_length,
  div#myTable_length {
    float: left;
  }
}

@media screen and (max-width: 425px) {
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
  }
}

.dataTables_length select {
  color: black;
}

.parent_username a {
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #dd5600;
}

#active {
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #dd5600;
}

@media screen and (min-width: 625px) {
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 21px;
    margin-top: 14px;
    margin-bottom: 8px;
    width: 145px;
  }
}

div#myTable_info,
div#staffTable_info {
  margin-left: 20px;
  color: #54577a;
  font-size: 14px;
}

.parent_name {
  text-wrap: wrap;
}

.parent_username {
  text-wrap: wrap;
}

.parent_email {
  text-wrap: wrap;
}

.parent_mobile {
  text-wrap: wrap;
}

.parent_address {
  text-wrap: wrap;
}

.parent_profession {
  text-wrap: wrap;
}

.parent_gender {
  text-wrap: wrap;
}

.parent_status {
  text-wrap: wrap;
}

.parent_action {
  text-wrap: wrap;
}

/* for mobile */
@media screen and (max-width: 625px) {
  th.parent_action.sorting {
    width: auto !important;
  }

  .parent_action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
  }

  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
    margin-left: 2px;
  }

  table#myTable,
  table#staffTable {
    width: max-content !important;
  }

  table#myTable,
  table#staffTable {
    width: max-content;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 15px;
    width: 163px;
  }
}

/* for Tablet */
@media screen and (max-width: 1020px) {

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: initial !important;
  }

  .parent_action {
    display: grid;
    gap: 2px;
  }

  table#myTable,
  table#staffTable {
    width: max-content !important;
  }
}

@media screen and (min-width: 1475px) {
  .parent_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  th.parent_action.sorting {
    width: auto !important;
  }

  .parent_action {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }

  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
    margin-left: 16px;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    display: flex;
    width: 42%;
  }

  table#myTable,
  table#staffTable {
    width: 98% !important;
  }
}

.parent_user_deactive {
  background-color: #f66305;
  width: 90px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.parent_user_active {
  background-color: #7bb13f;
  color: white;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.parent_user_edit {
  background-color: #03417c;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

.parent_user_delete {
  background-color: #bd1a20;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}

th.sorting.sorting_asc {
  background-image: none !important;
}

th.sorting {
  background-image: none !important;
}

.status-active {
  background-color: #73a839 !important;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.status-inactive {
  background-color: #999999 !important;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

a.paginate_button.current {
  border: 1px solid #ddd !important;
}

div#myTable_paginate,
div#staffTable_paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a#myTable_previous,
a#staffTable_previous {
  cursor: pointer;
  color: #666 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: transparent;
  box-shadow: none;
}

a#myTable_next,
a#staffTable_next {
  color: #39a9e8 !important;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ddd;
  margin-left: 0px !important;
}