#myTable,
#staffTable, #standardTable, #studentTable, #historyTable {
  border-collapse: collapse;
  color: #555555;
  padding: 10px;
  min-height: fit-content;
}
td.standard_action {
  display: flex;
  flex-wrap: wrap;
}

#myTable th,
#myTable td,
#staffTable th,
#staffTable td, #standardTable th, #standardTable td, #studentTable th, #studentTable td, #historyTable th, #historyTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

#myTable th,
#staffTable th, #standardTable th , #studentTable th, #historyTable th {
  background-color: #f2f2f2;
  color: #555555;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
}

#myTable td,
#staffTable td, #standardTable td, #studentTable td, #historyTable td {
  color: #555555;
  font-size: 14px;
  background-color: #ffffff;
  text-align: left;
  vertical-align: top;
}
th.standard_action.sorting {
  width: auto !important;
  height: auto !important;
}

@media screen and (min-width: 426px) {
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {

  div#myTable_length,
  div#myTable_length {
    float: left;
  }
}

@media screen and (max-width: 425px) {
  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
  }
}

.dataTables_length select {
  color: black;
}

.parent_username a {
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #dd5600;
}

#active {
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-inline: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  background-color: #dd5600;
}

@media screen and (min-width: 625px) {
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 21px;
    margin-top: 14px;
    margin-bottom: 8px;
    width: 145px;
  }
}

div#myTable_info,
div#staffTable_info, #standardTable_info, #studentTable_info, #historyTable_info {
  margin-left: 20px;
  color: #54577a;
  font-size: 14px;
}

.parent_name {
  text-wrap: wrap;
}

.parent_username {
  text-wrap: wrap;
}

.parent_email {
  text-wrap: wrap;
}

.parent_mobile {
  text-wrap: wrap;
}

.parent_address {
  text-wrap: wrap;
}

.parent_profession {
  text-wrap: wrap;
}

.parent_gender {
  text-wrap: wrap;
}

.parent_status {
  text-wrap: wrap;
}

.parent_action {
  text-wrap: wrap;
}
th.parent_action.sorting {
  width: auto !important;
}
th.student_action.sorting {
  width: auto !important;
}

/* for mobile */
@media screen and (max-width: 625px) {
  

  .parent_action, .student_action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
  }

  .standard_action {
    display: flex;
  }

  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
    margin-left: 2px;
  }

  table#myTable,
  table#staffTable, table#standardTable, table#studentTable, table#historyTable {
    width: max-content !important;
  }

  table#myTable,
  table#staffTable, table#standardTable, table#studentTable, table#historyTable {
    width: max-content;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 15px;
    width: 163px;
  }
}

/* for Tablet */
@media screen and (max-width: 1020px) {

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none !important;
    text-align: initial !important;
  }

  .parent_action {
    display: grid;
    gap: 2px;
  }
  .student_action {
    display: grid;
    gap: 2px;
  }

  table#myTable,
  table#staffTable, table#standardTable, table#studentTable, table#historyTable {
    width: max-content !important;
  }
}

@media screen and (max-width: 1420px) {
   .student_action {
    display: grid;
    gap: 2px;
   }
   td.student_action {
    padding: 18px  4px !important;
  }
}

@media screen and (min-width: 1475px) {
  .parent_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  td.student_action {
    padding: 18px  4px !important;
  }
}

@media screen and (min-width: 1024px) {
  .parent_action {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
  

  .dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2px;
    background-color: transparent;
    font-size: small;
    height: 25px;
    width: 55px;
    margin-top: 10px;
    margin-left: 16px;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    display: flex;
    width: 50%;
  }

  table#myTable,
  table#staffTable, table#standardTable, table#studentTable, table#historyTable {
    width: 98% !important;
  }
}

.parent_user_deactive {
  background-color: #f66305;
  width: 90px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.student_deactive {
  background-color: #f66305;
  width: 90px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.parent_user_active {
  background-color: #7bb13f;
  color: white;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.student_active {
  background-color: #7bb13f;
  color: white;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.parent_user_edit {
  background-color: #03417c;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.standard_edit , .student_edit {
  background-color: #03417c;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
}
.parent_user_delete {
  background-color: #bd1a20;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.standard_delete , .student_delete {
  background-color: #bd1a20;
  color: white;
  width: 80px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

th.sorting.sorting_asc {
  background-image: none !important;
}

th.sorting {
  background-image: none !important;
}

table.dataTable.no-footer {
  border-bottom: 0px solid #575555;
}

.status-active {
  background-color: #73a839;
  font-size: 13px;
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
}

.status-inactive {
  background-color: #999999;
  font-size: 13px;
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
}

a.paginate_button.current {
  border: 1px solid #ddd !important;
}

div#myTable_paginate,
div#staffTable_paginate, div#standardTable_paginate, div#studentTable_paginate, div#historyTable_paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a#myTable_previous,
a#staffTable_previous, a#standardTable_previous, a#studentTable_previous, a#historyTable_previous {
  cursor: pointer;
  color: #666 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: transparent;
  box-shadow: none;
}

a#myTable_next,
a#staffTable_next, a#standardTable_next, a#studentTable_next, a#historyTable_next {
  color: #39a9e8 !important;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ddd;
  margin-left: 0px !important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: navy !important;
}