<div class="w-full">
  <label for="section" class='text-[15px] text-[#555555] font-semibold'>Section</label>
  <select id="section_id" name="student_attendances[section_id]" class= "border border-gray-300 bg-[#EEEEEE] text-gray-900 text-sm rounded-[5px] focus:ring-[#37A7E7] focus:border-[#37A7E7] block w-full p-2.0 ">
    <option value="">Select Section</option>
    <% sections.each do |section| %>
      <option value="<%= section.id %>"><%= section.section_name %></option>
    <% end %>
  </select>
</div>
